/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root {
  --timing: 400ms;
  --rotation: 25deg;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto';
}

img {
  max-width: 100%;
}
.cards-hover-container {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  perspective: 800px; /* Adjust the value for a stronger/weaker 3D effect */
}

.yoda {
  width: 300px;
  aspect-ratio: 9 / 16;
  position: relative;
  transform-style: preserve-3d;
  transition: rotate var(--timing) ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yoda img {
  width: 100%;
  object-position: center;
}

.card-title {
  z-index: 101;
  position: absolute;
  font-family: 'Roboto';
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.yoda:hover {
  rotate: x var(--rotation);
}

.yoda::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 100;
  background-image: radial-gradient(circle, transparent 150px, black);
  opacity: 0;
  transition: opacity var(--timing);
  border-radius: 15px;
}

.yoda:hover::before {
  opacity: 1;
  border-radius: 15px;
}

/* .yoda::after {
  content: '';
  position: absolute;
  inset: 80% 5rem 5rem;
  translate: 0;
  transform: translateZ(-100px);
  background: black;
  filter: blur(1rem);
  z-index: 1;
  border-radius: 15px;
  transition: rotate var(--timing), translate var(--timing);
} */

.yoda:hover::after {
  rotate: x calc(var(--rotation) * -1);
  translate: 0 60px;
  transform-origin: center; /* Optional: Adjusts the point of rotation */
  transform-style: preserve-3d; /* Ensures 3D effects are maintained */
  border-radius: 15px;
}

.bg-image {
  position: absolute;
  z-index: 10;
  height: 100%;
  object-fit: cover;
  object-position: -150px center;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  border-radius: 15px;
}

/* Add compatibility for JS-triggered changes */
.bg-image[src='images/card-3.jpg'] {
  object-position: 0 center; /* Adjust position for new image */
}

.logo,
.front-image {
  position: absolute;
}

.logo {
  z-index: 1000;
  width: 65%;
  margin-inline: auto;
  inset: auto 0 2rem;
  transform: translateY(0rem) translateZ(20px);
  transition: var(--timing);
}

.yoda:hover .logo {
  transform: translateY(-2rem) translateZ(20px);
  rotate: x calc(var(--rotation) * -1);
}

.front-image {
  scale: 1.125;
  transform-origin: bottom;
  opacity: 0;
  z-index: 100;
  transition: var(--timing);
}

.yoda:hover .front-image {
  opacity: 1;
  transform: translateY(-2rem) translateZ(-10px);
  rotate: x calc(var(--rotation) * -1);
}
