/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Roboto';
}
.video-container {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
}
.video-container h3 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.video-container h3::after {
  content: '';
  bottom: 0;
  left: 0;
  display: block;
  height: 0.4rem;
  width: 120px;
  background: gold;
}
.video-container p:first-of-type {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}
.limited-edition-cta {
  text-decoration: none;
  padding: 0.8rem 2rem;
  background: gold;
  color: #01070e;
  border-radius: 150px;
  display: inline-block;
  margin-top: 1rem;
}
.video-container p {
  line-height: 1.3;
}
.video-container-info {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 10;
  width: 400px;
  font-weight: normal;
}

.video-container::after {
  content: '';
  width: 50%; /* You can adjust this percentage based on how much gradient you want */
  height: 100%;
  background-image: linear-gradient(to right, transparent, #000 30%);
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1; /* Ensures the gradient is above the video */
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Ensures the video is below the gradient */
}

.rough-edges {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  filter: drop-shadow(5px 5px 0 #333) drop-shadow(-5px -5px 0 #333);
}

.products {
  background: #efead5;
  min-height: 100vh;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.product-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.doodle-shop-btn svg {
  width: 100%;
  height: auto;
  display: block; /* Prevents extra space below SVG */
}
.doodle-square svg {
  width: 40%;
}
